# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# Django
db.sqlite3
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Screenshots
Screenshot*.png
